### Deliverable 1: Replace the reading and math scores.Â¶
Replace the 9th grade reading and math scores at Thomas High School with NaN

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\zohairk\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [14]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),["reading_score"]] = np.nan

In [15]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),["math_score"]] = np.nan

In [16]:
student_data_df.tail(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73.0
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71.0
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

#### Deliverable 2 Instructions
Repeat the school district analysis you did in this module, and recreate the following metrics:

The district summary
The school summary
The top 5 and bottom 5 performing schools, based on the overall passing rate
The average math score for each grade level from each school
The average reading score for each grade level from each school
The scores by school spending per student, by school size, and by school type

In [70]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [69]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())

school_count

15

In [68]:

student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [67]:
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [66]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.85579580976001

In [65]:
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.93053295099331

In [64]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [55]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades.

In [56]:
Count_students_no_grade_thomas = student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"]=="Thomas High School")].count()["Student ID"]
Count_students_no_grade_thomas

461

In [57]:
# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
crrctd_nmbrThomasstudents = int(per_school_counts["Thomas High School"])-int(Count_students_no_grade_thomas)
crrctd_nmbrThomasstudents

1174

In [58]:
per_school_countsnew = int(per_school_counts["Huang High School"])+int(per_school_counts["Figueroa High School"])+int(per_school_counts["Shelton High School"])+int(per_school_counts["Hernandez High School"])+int(per_school_counts["Griffin High School"])+int(per_school_counts["Wilson High School"])+int(per_school_counts["Cabrera High School"])+int(per_school_counts["Bailey High School"])+int(per_school_counts["Holden High School"])+int(per_school_counts["Pena High School"])+int(per_school_counts["Wright High School"])+int(per_school_counts["Rodriguez High School"])+int(per_school_counts["Johnson High School"])+int(per_school_counts["Ford High School"])+crrctd_nmbrThomasstudents
per_school_countsnew

38709

In [59]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_count

28939

In [60]:
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33158

In [89]:
# Step 3. Calculate the passing percentages with the new total student count.

passing_math_percentage = passing_math_count / int(per_school_countsnew) * 100
passing_math_percentage

74.76039164018704

In [90]:
passing_reading_percentage = passing_reading_count / int(per_school_countsnew) * 100
passing_reading_percentage

85.6596657108166

In [74]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

In [76]:
# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / float(per_school_countsnew) * 100
overall_passing_percentage

64.85571830840374

In [77]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

###  School Summary

In [79]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [91]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [92]:
per_school_counts1 = int(per_school_counts["Huang High School"])+int(per_school_counts["Figueroa High School"])+int(per_school_counts["Shelton High School"])+int(per_school_counts["Hernandez High School"])+int(per_school_counts["Griffin High School"])+int(per_school_counts["Wilson High School"])+int(per_school_counts["Cabrera High School"])+int(per_school_counts["Bailey High School"])+int(per_school_counts["Holden High School"])+int(per_school_counts["Pena High School"])+int(per_school_counts["Wright High School"])+int(per_school_counts["Rodriguez High School"])+int(per_school_counts["Johnson High School"])+int(per_school_counts["Ford High School"])+crrctd_nmbrThomasstudents
per_school_countsnew

38709

In [93]:

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [94]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts1
per_school_capita

school_name
Bailey High School       80.728719
Cabrera High School      27.935519
Figueroa High School     48.681469
Ford High School         45.568627
Griffin High School      23.702498
Hernandez High School    78.070216
Holden High School        6.409026
Huang High School        49.358935
Johnson High School      79.946524
Pena High School         15.134930
Rodriguez High School    65.808029
Shelton High School      27.295978
Thomas High School       26.947997
Wilson High School       34.089592
Wright High School       27.109974
Name: budget, dtype: float64

In [95]:

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.350937
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [96]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [97]:

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [98]:

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [99]:

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [100]:

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

In [101]:

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [104]:

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts1 * 100
per_overall_passing_percentage

school_name
Bailey High School       7.024206
Cabrera High School      4.383993
Figueroa High School     4.053321
Ford High School         3.841484
Griffin High School      3.435893
Hernandez High School    6.409362
Holden High School       0.984267
Huang High School        4.032654
Johnson High School      6.585032
Pena High School         2.250123
Rodriguez High School    5.474179
Shelton High School      4.089488
Thomas High School       2.748715
Wilson High School       5.342427
Wright High School       4.200574
Name: student_name, dtype: float64

In [117]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,80.728719,77.048432,81.033963,66.680064,81.933280,7.024206
Cabrera High School,Charter,1858,1081356.0,27.935519,83.061895,83.975780,94.133477,97.039828,4.383993
Figueroa High School,District,2949,1884411.0,48.681469,76.711767,81.158020,65.988471,80.739234,4.053321
Ford High School,District,2739,1763916.0,45.568627,77.102592,80.746258,68.309602,79.299014,3.841484
Griffin High School,Charter,1468,917500.0,23.702498,83.351499,83.816757,93.392371,97.138965,3.435893

In [118]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$80.73,77.048432,81.033963,66.680064,82,7
Cabrera High School,Charter,1858,"$1,081,356.00",$27.94,83.061895,83.975780,94.133477,97,4
Figueroa High School,District,2949,"$1,884,411.00",$48.68,76.711767,81.158020,65.988471,81,4
Ford High School,District,2739,"$1,763,916.00",$45.57,77.102592,80.746258,68.309602,79,4
Griffin High School,Charter,1468,"$917,500.00",$23.70,83.351499,83.816757,93.392371,97,3
Hernandez High School,District,4635,"$3,022,020.00",$78.07,77.289752,80.934412,66.752967,81,6
Holden High School,Charter,427,"$248,087.00",$6.41,83.803279,83.814988,92.505855,96,1
Huang High School,District,2917,"$1,910,635.00",$49.36,76.629414,81.182722,65.683922,81,4
Johnson High School,District,4761,"$3,094,650.00",$79.95,77.072464,80.966394,66.057551,81,7
Pena High School,Charter,962,"$585,858.00",$15.13,83.839917,84.044699,94.594595,96,2
Rodriguez High School,District,3999,"$2,547,363.00",$65.81,76.842711,80.744686,66.366592,80,5
Shelton High School,Charter,1761,"$1,056,600.00",$27.30,83.359455,83.725724,93.867121,96,4
Thomas High School,Charter,1635,"$1,043,130.00",$26.95,83.350937,83.896082,66.911315,70,3
Wilson High School,Charter,2283,"$1,319,574.00",$34.09,83.274201,83.989488,93.867718,97,5
Wright High School,Charter,1800,"$1,049,400.00",$27.11,83.682222,83.955000,93.333333,97,4

In [119]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
Count_students_10thgrade_thomas = student_data_df.loc[(student_data_df["grade"] == "10th") & (student_data_df["school_name"]=="Thomas High School")].count()["Student ID"]
Count_students_10thgrade_thomas

421

In [120]:
Count_students_11thgrade_thomas = student_data_df.loc[(student_data_df["grade"] == "11th") & (student_data_df["school_name"]=="Thomas High School")].count()["Student ID"]
Count_students_11thgrade_thomas

415

In [121]:
Count_students_12thgrade_thomas = student_data_df.loc[(student_data_df["grade"] == "12th") & (student_data_df["school_name"]=="Thomas High School")].count()["Student ID"]
Count_students_12thgrade_thomas

338

In [ ]:
# Step 6. Get all the students passing math from THS